.range {
  max-width: 300px;
  min-width: 230px;
  background: $color-white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);

  &__wrapper {
    padding-top: 0.1px;
    padding-bottom: 45px;
  }

  &__header {
    margin: 25px 5% 7px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__transfer {
    color: #ddd;
    width: 90%;
    margin: 0 auto;
  }

  &__caption {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
  }

  &__main {
    width: 90%;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 10px auto 20px;
  }

  &__link {
    text-transform: uppercase;
    font-size: 14px;
    color: #959595;
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #000;
    }
  }

  &__module {
    width: 100%;
    margin: 0 auto;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    }

  }

  &__info {
    flex-basis: 75%;
  }

  &__img a {
    text-decoration: none;
  }

  &__title {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    span {
      color: #959595;
      font-weight: normal;
    }
  }

  &__text {
    font-size: 16px;
  }

  &__button {
    float: right;
    margin-right: 5%;
    text-transform: uppercase;
  }
}

// .tabs {
// 	min-width: 320px;
// 	max-width: 800px;
// 	padding: 0px;
// 	margin: 0 auto;
// }
/* Стили секций с содержанием */
.tabs>div {
	display: none;
	// padding: 15px;
	// background: #fff;
	// border: 1px solid #ddd;
}
.tabs>div>div {
	// margin: 0 0 5px;
	// line-height: 1.5;
	// color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
  cursor: pointer;
  font-size: 12px;
	display: inline-block;
	margin: 10px 5%;
	padding: 15px 3%;
	font-weight: 900;
	text-align: center;
	color: #aaa;
text-transform: uppercase;

}


/* Шрифт-иконки от Font Awesome в формате Unicode */
// .tabs>label:before {
// 	font-family: fontawesome;
// 	font-weight: normal;
// 	margin-right: 10px;
// }
// .tabs>label[for*="1"]:before {
// 	content: "\f19a";
// }
// .tabs>label[for*="2"]:before {
// 	content: "\f17a";
// }
// .tabs>label[for*="3"]:before {
// 	content: "\f13b";
// }
// .tabs>label[for*="4"]:before {
// 	content: "\f13c";
// }
/* Изменения стиля переключателей вкладок при наведении */
 
// .tabs>label:hover {
// 	color: #888;
// 	cursor: pointer;
// }
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #000;
	// border-top: 1px solid #009933;
	// border-bottom: 1px solid #fff;
	// background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 
// @media screen and (max-width: 680px) {
// 	.tabs>label {
// 		font-size: 0;
// 	}
// 	.tabs>label:before {
// 		margin: 0;
// 		font-size: 18px;
// 	}
// }
// /* Изменяем внутренние отступы 
// *  переключателей для малых экранов
// */
// @media screen and (max-width: 400px) {
// 	.tabs>label {
// 		padding: 15px;
// 	}
// }
