.gallary {
  &__block {
    background: $color-white;
    display: flex;
    padding: 40px 3.8%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 52px;
    
  }

  &__box {
    flex-basis: 29%;

    &:hover {
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
  
  }

  &__img {
    display: block;
    width: 100%;

  }
  &-info {
    margin-top: 5px;
    font-size: 12px;
    color: #777777;
  }

  &__text {
    color: #000;
    margin-top: 15px;
    font-size: 16px;

    &:first-child {
      width: 90%;
    }
  }

  &-icon__list {
    display: flex;
  }

  // &-icon__item {
  //   padding: 1%;
  // }
}
@media (min-width: 868px) and (max-width: 1309px){
  .gallary {
    &__block{
       justify-content: space-evenly;
    }
  }
}
@media screen and (max-width: 868px) {
  .gallary {
    &__block {
     flex-direction: column;
    }

    &__img {
      display: block;
      width: 80%;
    }

    &__box {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 640px) {
  .gallary {
    &__link {
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .gallary {
    &__block {
      padding: 0;
    }

    &__box {
      flex-direction: column;
    }

    &__link {
      flex-shrink: 0;
    }

    &__img {
      display: block;
      width: 100%;
    }

    &__text:first-child {
      width: 100%;
    }
  }
}