@mixin font-PD{
  font-family: 'Playfair Display', serif;
}

@mixin font-JS{
  font-family: 'Josefin Sans', sans-serif;
}

@mixin font-OS {
  font-family: 'Open Sans Light', arial;
}

@mixin font-PD {
  font-family: 'Playfair Display', serif;
}
