<!DOCTYPE html>
<html lang="ru">
//= includes/head.html

<body>
	<div class="wrapper">
		<header class="header" id="header">
			//= ../blocks/buttonUp/button.html
			<div class="container header-container">
				//= ../blocks/header/header.html
			</div>
		</header>
		<section class="carousel">
			<div class="container carousel-container">
				//= ../blocks/carousel/carousel.html
			</div>
		</section>
		<section class="gallary">
			<div class="container gallary-container">
				//= ../blocks/gallary/gallary.html
			</div>
		</section>
		<secction class="recipe">
			<div class="container recipe-container">
				//= ../blocks/recipe/recipe.html
			</div>
		</secction>
		<section class="authors">
			<div class="container authors-container">
				<div class="authors__block">
					//= ../blocks/authors/fail/fail.html
					//= ../blocks/authors/author/author.html
				</div>
			</div>
		</section>
		<section class="any">
			<div class="container any-container">
				<div class="any__block">
					<div class="any__column">
						//= ../blocks/any/chichi/chichi.html
						//= ../blocks/any/target/target.html
					</div>
					<div class="any__column">
						//= ../blocks/any/range/range.html
						<div class="any__column--lvl2">
							//= ../blocks/any/tags/tags.html
							//= ../blocks/any/calendar/calendar.html
						</div>
					</div>
					<div class="any__column">
						//= ../blocks/any/popular/popular.html
						//= ../blocks/any/timeline/timeline.html
					</div>
				</div>
			</div>
		</section>
		<section class="user">
			<div class="container user-container">
				<div class="user__block">
					//= ../blocks/user/login/login.html
					//= ../blocks/user/registration/registration.html
				</div>
			</div>
		</section>
		<section class="comments">
			<div class="container comments-container">
				<div class="comments__block">
					//= ../blocks/comments/post/post.html
					//= ../blocks/comments/comment/comment.html
					//= ../blocks/comments/number/number.html
				</div>
			</div>
		</section>
		<footer class="footer">
			<div class="container footer-container">
				//= ../blocks/footer/footer.html
			</div>
		</footer>
	</div>

	//= includes/scripts.html
</body>

</html>