.carousel {
  &__block {
    display: flex;
    padding-left: 8%;
    box-sizing: border-box;
    padding-top: 62px;
    padding-bottom: 35px;
    background: $color-white;
    background-image: url('../images/var-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
  }

  &__bg {
    img {
      top: 0;
      left: 0;
      // position: absolute;
      display: block;
      width: 100%;
      flex-grow: 1;
      z-index: 0;
      display: none;
    }
  }

  &__box {
    flex-basis: 35%;
    z-index: 3;
  }

  &-logo {
    display: block;
    width: 70%;
    margin-bottom: 30px;
  }

  &__title {
    color: $color-red;
    font-size: 25px;
    font-weight: 400;
    font-family: none;
    margin-bottom: 23px;
    letter-spacing: 1px;
  }

  &__text {
    width: 95%;
    margin-bottom: 30px;
  }
  &__buttons {
    position: absolute;
    bottom: 6%;
    left: 93%;
  }
  &__prev,
  &__next {
      background: #fff;
      cursor: pointer;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: none;
      outline: none;
      &:hover {
        background: #959595;
      }
    }
}


#gallery {
  margin: 0 auto;
  position: relative;
}

#gallery .carusel__list {
  position: relative;
}

#gallery .carusel__list li {
  margin: 0 auto;
  position: absolute;
  opacity: 0;
  transition: 1s;
  display: none;
}

#gallery .carusel__list .div-open {
  opacity: 1;
  display: block;
  position: relative;
}




@media screen and (max-width: 1265px) {
  .carousel {
    &__box {
      flex-basis: 40%;
    }
  }

}


@media screen and (max-width: 1000px) {
  .carousel {
    &__box {
      flex-basis: 50%;
    }
  }

}


@media screen and (max-width: 720px) {
  .carousel {
    &__block {
      box-shadow: none;
    }

    &__box {
      flex-basis: 80%;

    }
  }
}

@media screen and (max-width: 450px) {
  .carousel {
    &__block {
      background-image: none;
      box-shadow: none;
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    &-logo,
    &__title,
    &__text {
      display: none;
    }

    &__bg {
      img {
        display: block;
        width: 100%;
      }
    }

    &__button {
      display: block;
      width: 100%;
      border: none;
      padding: 20px;
    }
  }
}