@import "header/header.scss";
@import "carousel/carousel.scss";
@import "gallary/gallary.scss";
@import "recipe/recipe.scss";
@import "authors/fail/error.scss";
@import "authors/author/author.scss";
@import "any/chichi/chichi.scss";
@import "any/target/target.scss";
@import "any/range/range.scss";
@import "any/tags/tags.scss";
@import "any/calendar/calendar.scss";
@import "any/popular/popular.scss";
@import "any/timeline/timeline.scss";
@import "user/login/login.scss";
@import "user/registration/registration.scss";
@import "comments/post/post.scss";
@import "comments/comment/comment.scss";
@import "comments/number/number.scss";
@import "footer/footer.scss";

