.chichi {
  max-width: 300px;
  min-width: 230px;
  background: $color-white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);

  &__wrapper {
    display: flex;
    flex-direction: column;

  }

  &__title {
    @include font-PD;
    font-size: 23px;
    color: $color-green;
    font-weight: 900;
    text-align: center;
    padding: 20px 0 14px 0;
  }

  &__transfer {
    color: #ddd;
    width: 90%;
    margin: 0 auto;
  }

  &__main {
    position: relative;
  }

  &__list {
    position: relative;

    &>li {
      margin: 0 auto;
      position: absolute;
      opacity: 0;
      transition: 1s;
      display: none;
    }
  }

  &__info {
    display: flex;
    box-sizing: border-box;
    margin-top: 15px;
    padding: 0px 5%;
  }

  &__photo {
    margin-right: 5%;
  }

  &__span2 {
    font-weight: 700;
    font-size: 16px;
  }

  &__gallary img {
    display: block;
    width: 100%;
  }

  &-icon {
    margin-top: 5px;
    font-size: 12px;
    color: #777777;
    font-weight: bold;
  }

  &-icon__list {
    display: flex;
  }

  // &-icon__item {
  //   padding: 1%;
  // }

  &__buttons {
    position: absolute;
    bottom: 5%;
    left: 45%;
  }
  &__prev,
  &__next {
      background: #fff;
      cursor: pointer;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: none;
      outline: none;
      &:hover {
        background: #959595;
      }
    }

  .div-open__chichi {
    opacity: 1;
    display: block;
    position: relative;
  }
}