.error {
  max-width: 520px;
  max-height: 520px;
  flex-basis: 46%;
  background: $color-white;
  position: relative;
  padding: 20px 45px 20px 30px;
  box-sizing: border-box;
  background-image: url('../images/plate.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);

  &__title {
    display: block;
    font-size: 22px;
    margin-top: 4px;
    padding-left: 5px;
  }


  &__transfer {
    margin-top: 3px;
    color: #ddd;
  }

  &__info {
    // flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

 

  &__text {
    margin-top: 95px;
    margin-left: 30px;
    font-weight: bold;
    position: relative;
    span:first-child {
      font-size: 34px;
      color: #000;
      line-height: 48px;
    

    }

    margin-bottom: 40px;
    color: #a9a9a9;
  }
  &__smiley {
    position: absolute;
    font-size: 40px;
    transform: rotate(-30deg);
   color: #a9a9a9;
   
  }

  &__button {
    margin: 0 auto;
    width: 106px;

  }
}

@media screen and (max-width: 1100px) {
  .error {
    height: 520px;
    width: 520px;
    padding-bottom: 50px;

    &__text {
      margin-bottom: 100px;
    }
  }

}

@media screen and (max-width: 480px) {
  .error {
    & {
      display: none;
    }
  }
}