* {
  margin: 0;
  padding: 0;
}

body {
  @include font-JS;
  font-size: 16px;
  margin: 0;
}

.wrapper {
  background: $color-gray;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.container {
  width: 78%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

hr {
  border: 1px solid #eaeaea;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.header-icon__list {
  display: flex;
  width: 70%;

  .header-icon__item {
    margin-left: 10px;

    &:hover a {
      color: #959595;
    }
  }

}

.button {
  background: $color-white;
  @include font-JS;
  font-size: 12px;
  line-height: 12px;
  padding: 9px 10px 6px 10px;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background: #d6d6d6;
    color: #000;
  }
}




.header-container {
  box-shadow: none;
}


.carousel-container {
  box-shadow: none;

}




.recipe-container {
  box-shadow: none;
}

.authors {
  &-container {
    box-shadow: none;

  }

  &__block {
    display: flex;
    justify-content: space-between;
    &>* {
      margin-top: 20px;

    }
  }

}

.any {
  &-container {
    box-shadow: none;
  }

  &__block {
    padding: 0px 4%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    &>* {
      // any__column
      display: flex;
      flex-basis: 28%;
      flex-direction: column;
      // flex-wrap: wrap;
      // justify-content: space-between;
      // align-items: center;
      &>* {
         // any__box
        margin-top: 60px;

      }
    }
  }
  &__column--lvl2{
    display: flex;
    flex-direction: column;
    &>*:last-child {
      margin-top: 60px;
    }
  }
}

.user {
  &-container {
    box-shadow: none;
  }

  &__block {
    display: flex;
    justify-content: space-evenly;


  }

}


.comments {
  &-container {
    box-shadow: none;

  }

  &__block {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &>* {
        margin-top: 20px;

    }
  }
}



// .footer-container {}